<footer class="footer">
  <nav class="menu">
    <ul>
      <li>
        <a href="https://adalab.es/" title="Ir a la página de Adalab"
          >article</a
        >
      </li>
      <li>
        <a href="https://adalab.es/" title="Ir a la página de Adalab">books</a>
      </li>
      <li>
        <a href="https://adalab.es/" title="Ir a la página de Adalab">events</a>
      </li>
      <li>
        <a href="https://adalab.es/" title="Ir a la página de Adalab"
          >reasons</a
        >
      </li>
      <li>
        <a href="https://adalab.es/" title="Ir a la página de Adalab">tips</a>
      </li>
    </ul>
  </nav>
  <nav class="socialmedia_menu">
    <ul>
      <li>
        <a href="https://adalab.es/" title="Ir a la página de Adalab"
          >twitter</a
        >
      </li>
      <li>
        <a href="https://adalab.es/" title="Ir a la página de Adalab"
          >instagram</a
        >
      </li>
      <li>
        <a href="https://adalab.es/" title="Ir a la página de Adalab"
          >mastodo.social</a
        >
      </li>
    </ul>
  </nav>
  <small class="copyright">
    &copy;2017
    <p>we🧡components</p>
  </small>
</footer>
