<footer class="footer">
  <div class="circle_footer">
    <a href="#hero" title="Ir al inicio de la página"
      ><img
        src="./assets/images/ico-arrow.svg"
        alt="Flecha que dirige al inicio de la página"
    /></a>
  </div>
  <nav class="menu">
    <ul>
      <li>
        <a href="https://adalab.es/" title="Ir a la página de Adalab"
          >articles</a
        >
      </li>
      <li>
        <a href="https://adalab.es/" title="Ir a la página de Adalab">books</a>
      </li>
      <li>
        <a href="https://adalab.es/" title="Ir a la página de Adalab">events</a>
      </li>
      <li>
        <a href="https://adalab.es/" title="Ir a la página de Adalab"
          >reasons</a
        >
      </li>
      <li>
        <a href="https://adalab.es/" title="Ir a la página de Adalab">tips</a>
      </li>
    </ul>
  </nav>
  <nav class="socialmedia_menu">
    <ul>
      <li>
        <a href="https://adalab.es/" title="Ir a la página de Adalab"
          >twitter</a
        >
      </li>
      <li>
        <a href="https://adalab.es/" title="Ir a la página de Adalab"
          >instagram</a
        >
      </li>
      <li>
        <a href="https://adalab.es/" title="Ir a la página de Adalab"
          >mastodon.social</a
        >
      </li>
    </ul>
  </nav>
  <small class="copyright">
    &copy;2017
    <p>we <span class="heart_emoji">❤︎</span> components</p>
  </small>
</footer>
