<main class="page-main">
  <section class="section_white">
    <div class="container_white">
      <span class="section_subtitle">insomnia tips</span>
      <h2>looking through a window</h2>
      <p>
        Donec accumsan, nulla ut volutpat porttitor, quam odio tempus felis, at
        luctus ex diam nec lectus. Vivamus semper sodales rutrum.
      </p>
      <button class="go_button">Go</button>
    </div>
  </section>
  <section class="section_blue">
    <h2>3 reasons to purchase</h2>
    <articles>
      <div class="first_article">
        <h3>Ut sed metus</h3>
        <p>Lorem ipsun dolor sit amet, consecteur</p>
      </div>
    </articles>
    <articles>
      <div class="second_article">
        <h3>Curabitur acerat</h3>
        <p>Mauris mattis urna quis lorem molestie</p>
      </div>
    </articles>
    <articles>
      <div class="third_article">
        <h3>Morbi dictum</h3>
        <p>Aliquam in dolor et dolor tincidunt.</p>
      </div>
    </articles>
    <button class="reasons_button">More reasons</button>
  </section>
</main>
