<main class="page__main">
  <section class="section_white">
    <h2>looking through a window</h2>
    <p>Lo usamos para aprender:</p>
  </section>
  <section class="section_blue">
    <h2>3 reasons to purchase</h2>
    <articles>
      <div class="first_article">
        <h3>ut sed metus</h3>
        <p>Lorem ipsun dolor sit amet, consecteur</p>
      </div>
    </articles>
    <articles>
      <div class="second_article">
        <h3>curabitur acerat</h3>
        <p>Mauris mattis urna quis lorem molestie</p>
      </div>
    </articles>
    <articles>
      <div class="third_article">
        <h3>morbi dictum</h3>
        <p>Aliquam in dolor et dolor tincidunt.</p>
      </div>
    </articles>
    <button>
      <p>More reasons</p>
    </button>
  </section>
</main>
