// fonts
$font-primary: "Roboto", sans-serif;
$font-secondary: "Roboto Slab", serif;

// colors
$color-primary: #ffffff;
$color-secondary: black;
$color-tertiary: #f26002;
$color-paragraph: #4a4a4a;
$color-subtitle: #8ccbea;
$color-background: #eff9ff;
$color-footer: #304268;
$color-menu: #0271bc;
