ul {
  padding: 0px;
}

.footer {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  color: $color-primary;
  background-color: $color-footer;
  font-family: $font-primary;
}

.arrow_circle_footer {
  background-color: $color-primary;
  height: 45px;
  width: 45px;
  border-radius: 50%;
  position: absolute;
  bottom: 53px;
  left: 50%;
  transform: translate(-50%, 50%);
}

.arrow_circle_footer img {
  width: 20px;
  height: 12px;
  position: relative;
  top: 15px;
  left: 10px;
}

.copyright {
  text-align: center;
}

.menu,
.socialmedia_menu {
  font-size: 16px;
  text-transform: uppercase;
  text-align: center;
}
