ul {
  padding: 0px;
  margin: 0;
}

.circle_footer {
  background-color: $color-primary;
  height: 45px;
  width: 45px;
  border-radius: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
  top: 0;
  left: 50%;
  animation-name: arrowfooter;
  animation-duration: 2s;
  animation-iteration-count: infinite;

  a {
    position: relative;
    top: 50%;
    left: 50%;
  }

  @keyframes arrowfooter {
    from {
      top: 0;
    }

    to {
      top: -10px;
    }
  }
}

.circle_footer img {
  width: 20px;
  height: 24px;
  transform: translate(-50%, -50%);
}

.footer {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  color: $color-primary;
  background-color: $color-footer;
  font-family: $font-primary;
  line-height: 30px;
  position: relative;
  padding: 0px 15px;

  @media all and (min-width: 768px) {
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-start;
    padding: 45px 0;

    .copyright,
    .socialmedia_menu,
    .menu li {
      text-align: left;
    }

    .menu {
      order: 2;
    }

    .socialmedia_menu {
      order: 3;

      @media all and (min-width: 1200px) {
        min-width: 160px;
      }
    }
  }

  @media all and (min-width: 1200px) {
    justify-content: center;
  }
}

.copyright {
  text-align: center;
  font-size: 14px;
  margin-top: 30px;
  margin-bottom: 45px;

  .heart_emoji {
    color: $color-tertiary;
  }

  p {
    margin: 0;
  }

  @media all and (min-width: 768px) {
    margin: 0px;
    order: 1;
  }

  @media all and (min-width: 1200px) {
    min-width: 160px;
  }
}

.menu,
.socialmedia_menu {
  font-size: 16px;
  text-transform: uppercase;
  text-align: center;
}

.menu {
  margin-top: 60px;
  margin-bottom: 30px;

  @media all and (min-width: 768px) {
    margin: 0;
  }

  @media all and (min-width: 1200px) {
    margin: 0 30px;
    min-width: 160px;
  }
}
