ul {
  padding: 0px;
}

.circle_footer {
  background-color: $color-primary;
  height: 45px;
  width: 45px;
  border-radius: 50%;
  position: absolute;
  top: -25px;
}

.circle_footer img {
  width: 20px;
  height: 24px;
  position: relative;
  top: 10px;
  left: 12px;
}

.footer {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  color: $color-primary;
  background-color: $color-footer;
  font-family: $font-primary;
  line-height: 30px;
  position: relative;
  padding: 45px 15px;

  @media all and (min-width: 768px) {
    flex-direction: row;
    justify-content: space-around;
    padding: 45px 39px;

    .copyright,
    .socialmedia_menu,
    .menu li {
      text-align: left;
    }

    .socialmedia_menu {
      align-self: flex-end;
    }
  }

  @media all and (min-width: 1200px) {
    padding: 0px 370px;
  }
}

.menu,
.socialmedia_menu {
  font-size: 16px;
  text-transform: uppercase;
  text-align: center;
}

.copyright {
  text-align: center;
  font-size: 14px;

  p {
    margin: 0;
  }

  @media all and (min-width: 768px) {
    margin: 0px;
  }
}
