.section_subtitle {
  text-transform: capitalize;
  font-size: 14px;
  font-family: $font-primary;
  color: $color-subtitle;
  width: 90px;
  height: 30px;

  @include desktop {
    font-size: 16px;
  }
}

.section_white {
  padding: 30px 15px 45px;
  line-height: 30px;

  @include tablet {
    width: 100%;
    padding-left: 39px;
    padding-right: 39px;
  }
  @include desktop {
    width: 56.1%;
    margin: auto;
    padding: 60px 0;
  }

  h2 {
    text-transform: capitalize;
    font-size: 24px;
    font-family: $font-secondary;
    margin: 0;
    width: 85%;

    @include tablet {
      font-size: 26px;
    }

    @include desktop {
      font-size: 32px;
    }
  }

  p {
    font-size: 18px;
    font-family: $font-primary;
    color: $color-paragraph;
    width: 100%;
    padding-top: 15px;
    padding-bottom: 30px;
    margin: 0;

    @include tablet {
      font-size: 20px;
      width: 100%;
      padding-top: 30px;
      max-width: 684px;
    }

    @include desktop {
      max-width: 730px;
    }
  }
}

.container_blue {
  display: grid;
  grid-template-rows: repeat(5, 0.5fr);
  text-align: center;
  background-color: $color-background;
  grid-gap: 45px;
  padding: 30px 15px 60px;

  @include tablet {
    grid-template-columns: repeat(3, 0.5fr);
    grid-template-rows: none;
  }

  @include desktop {
    padding-top: 60px;
  }

  h2 {
    font-size: 24px;
    font-family: $font-secondary;
    text-transform: capitalize;
    margin: auto;

    @include tablet {
      font-size: 26px;
      grid-column: span 3;
    }

    @include desktop {
      font-size: 32px;
    }
  }

  h3 {
    font-size: 18px;
    font-family: $font-secondary;
    margin: 0;

    @include tablet {
      font-size: 24px;
      padding-bottom: 14px;
    }
  }

  p {
    font-size: 18px;
    font-family: $font-primary;
    margin: 0;

    @include tablet {
      font-size: 20px;
      max-width: 210px;
      margin: 0 auto;
    }

    @include desktop {
      max-width: 346px;
    }
  }
}

.first_article,
.second_article,
.third_article {
  width: 180px;
  margin: 0 auto;
  line-height: 30px;

  @include tablet {
    width: 100%;
  }
}
