.section_white {
  padding-top: 30px;
  padding-left: 15px;
  padding-right: 15px;
}

.go_button {
  width: 76px;
  height: 45px;
  border: solid 2px $color-tertiary;
  font-family: $font-primary;
  color: $color-tertiary;
  background-color: $color-primary;
  margin-bottom: 45px;
  border-radius: 22px;

  @media all and (min-width: 768px) {
    width: 91px;
  }

  @media all and (min-width: 1200px) {
    width: 160px;
  }
}

.section_subtitle {
  text-transform: capitalize;
  font-size: 14px;
  font-family: $font-primary;
  color: $color-subtitle;

  @media all and (min-width: 1200px) {
    font-size: 16px;
  }
}
.section_white h2 {
  text-transform: capitalize;
  font-size: 24px;
  font-family: $font-secondary;

  @media all and (min-width: 768px) {
    font-size: 26px;
  }

  @media all and (min-width: 1200px) {
    font-size: 32px;
  }
}

.section_white p {
  font-size: 18px;
  font-family: $font-primary;
  color: $color-paragraph;

  @media all and (min-width: 768px) {
    font-size: 20px;
  }
}

.section_blue {
  display: grid;
  grid-template-columns: 3;
  grid-template-rows: 3;
  text-align: center;
  background-color: $color-background;
  padding-top: 30px;
  padding-left: 15px;
  padding-right: 15px;
}

.section_blue h2 {
  font-size: 24px;
  font-family: $font-secondary;
  text-transform: capitalize;

  @media all and (min-width: 768px) {
    font-size: 26px;
  }

  @media all and (min-width: 1200px) {
    font-size: 32px;
  }
}

.section_blue h3 {
  font-size: 18px;
  font-family: $font-secondary;

  @media all and (min-width: 768px) {
    font-size: 24px;
  }
}

.section_blue p {
  font-size: 18px;
  font-family: $font-primary;

  @media all and (min-width: 768px) {
    font-size: 20px;
  }
}

.reasons_button {
  background-color: $color-tertiary;
  color: $color-primary;
  width: 184px;
  height: 45px;
  font-family: $font-primary;
  border-radius: 22px;
  margin: auto;
  margin-bottom: 60px;
  margin-top: 60px;
  border: none;

  @media all and (min-width: 768px) {
    width: 124px;
  }

  @media all and (min-width: 1200px) {
    width: 255px;
  }
}
